* {
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

html,
body,
.container-fluid,
.row {
  height: 100%;
}

.actions {
  display: flex;
  justify-content: space-around;
}

#myData {
  margin: 20px;
}

#logo {
  width: 228px;
}

.navbar {
  height: 80px;
  background-color: #ffffff !important;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

#main_content {
  width: 1440px;
  margin: 0 auto;
}

#panel {
  background-color: #131e63;
  color: #ffffff;
  padding: 0;
}

#list {
}

#account {
  padding: 20px 20px 0 15px;
}

.list_data {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #000000;
}

.list_header {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #979797;
  text-shadow: 1px 4px 4px #979780;
}

#list_header_checkbox {
  box-shadow: 1px 4px 4px #979780;
}

hr {
  margin-top: 0;
  width: 158px;
  height: 6px;
  background: #8097b1;
}

#contacts_hr {
  width: 137px;
  height: 6px;
  background: #2547bf;
}

tbody {
  box-shadow: 2px 4px 6px #979797;
}

.aligned {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 30px;
}

.container {
  margin-top: 80px;
  padding: 0;
}

.bi-bounding-box {
  margin: 7px 10px 31px 0;
}

.container svg {
  margin-left: 30px;
}

.container svg:nth-child(2) {
  margin-left: 0;
}

.line {
  margin-right: 21px;
}

.aligned > img {
  margin-right: 10px;
}
