* {
  text-align: center;
  overflow-y: hidden;
}

html,
body,
.container-fluid,
.row {
  height: 100%;
}

.actions {
  display: flex;
  justify-content: space-around;
}

#myData {
  margin: 20px;
}

#logo {
  width: 228px;
}

.navbar {
  height: 80px;
  background-color: #ffffff !important;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

#main_content {
  width: 1440px;
  margin: 0 auto;
}

#panel {
  background-color: #131e63;
  color: #ffffff;
}

#list {
}

#account {
  padding: 20px 20px 0 15px;
}
